#modals-container {
    /* background-color: rgb(65, 63, 63); */

    position: absolute;

    height: 400px;
    width: 500px;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.modal-item {
    background-color: rgb(145, 83, 83);
    border-radius: 10%;
    border-style: solid;

    position:absolute;

    height: 100%;
    width: 100%;
}
.modal-item:not(.active){
    display: none;
}

nav button.modal {
    width: 100px;
    height: 50px;
    
    border: none;
}

li.modal {
    border-radius: 10%;

    position: absolute;
    bottom: 5%;
}
li.modal.l1 {
    left: 5%;
}
li.modal.l2 {
    right: 5%;
}

#profile-avatar {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn.modal {
    background-color: rgb(153, 29, 35);
    border-radius: 20%;
}
