#settings-parent {
    border-radius: 0px;
    display: flex;
}

#settings-parent:not(.active){
	display: none !important;
	pointer-events: none;
}

#settings-sidebar {
    width: 300px;
    height: 100dvh;
    border-right: black 3px solid;
	flex-shrink: 0;
}

#settings-content {
    border: rgb(255, 255, 255) solid 3px;
	flex-grow: 1;
}

#settings-content li {
	display: block;
}

#settings-content li:not(.active) {
	display: none;
}

#account-content {
	border: rgb(0, 0, 0) solid 1px;
}
#stats-content {
	border: rgb(180, 152, 255) solid 1px;
}
#confidentiality-content {
	border: rgb(255, 54, 54) solid 1px;
}

#confidentiality-content:hover {
	transform: none !important;
}

#unregister-btn {
    display: inline-block;
	margin: 20px 0 30px 0;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
	margin-bottom: 30px;
}


#unregister-btn:hover {
    background-color: #e60000;
}