#settings-parent {
    border-radius: 0px;
    display: flex;
}

#settings-parent:not(.active){
	display: none !important;
	pointer-events: none;
}

#settings-sidebar {
    width: 300px;
    height: 100dvh;
    border-right: black 3px solid;
	flex-shrink: 0;
}

#settings-content {
    border: rgb(255, 255, 255) solid 3px;
	flex-grow: 1;
	flex-direction: column;
}

#settings-content {
	display: block;
}
#settings-content div:not(.active) {
	display: none;
}

.account-input:not(.active) {
	display: none;
}

#account-content {
	border: rgb(0, 0, 0) solid 1px;
	display: flex;
}
#stats-content {
	border: rgb(180, 152, 255) solid 1px;
}
#confidentiality-content {
	border: rgb(255, 54, 54) solid 1px;
}
