/* General */
#sidebar {
    min-height: 300px;
    min-width: 75px;
	max-width: 150px;
    
    flex-grow: 0;
}
/* --------- */



/* Navigation */
ul.sidebar {
    margin-right: 10px;
    padding: 5px;
    padding-top: 10px;
    
    display: flex;
    align-items: center;
    overflow:hidden;
    flex-direction: column;
}

ul.sidebar li:active{
    transform: rotateZ(180deg);
}

ul.sidebar li{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

ul.sidebar li:not(.except) button{
    height: 100%;
    width: 100%;
    overflow:visible;
}
/* --------- */



/* Include assets */
#profile-btn {
    background: transparent url(../assets/profile.png) no-repeat center;
}

#friends-btn {
    background: transparent url(../assets/friends.png) no-repeat center;
}

#chat-btn {
    background: transparent url(../assets/chat.png) no-repeat center;
}

#play1v1-btn {
	background: transparent url(../assets/1v1.png) no-repeat center;
	background-size: 70% 70%;
}

#playTournament-btn {
	background: transparent url(../assets/tournament.png) no-repeat center;
	background-size: 70% 70%;
}
/* --------- */
