#sidebar {
    /* border: 2px solid rgb(13, 255, 0); */
    min-height: 300px;
    min-width: 100px;

    flex-grow: 0;
}

nav ul { /* settings of every lists */
    /* background-color: rgb(95, 84, 152); */
    list-style-type: none;

    padding-top: 10px;
    margin-right: 10px;
    gap: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    background-color: rgb(153, 29, 35);

    border-radius: 50%;
    border-width: 3px;
    border-color: black;
    border-style: solid;

    transition: transform 0.1s ease-in-out;
}
nav li:hover {
    background-color: rgb(156, 41, 46);
    transform: scale(1.05);
}
nav li:active {
    border-style: solid;
    transform: scale(0.85) rotateZ(180deg);
}

nav button {
    height: 80px;
    width: 80px;
    
    border: none;
}

#profile-btn {
    background: transparent url(../assets/profile.png) no-repeat center;
}
#friends-btn {
    background: transparent url(../assets/friends.png) no-repeat center;
}
#chat-btn {
    background: transparent url(../assets/chat.png) no-repeat center;
}
