body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.buttonContainer {
    margin-bottom: 20px;
}

.btn {
    display: none;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.panel {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f4f4f4;
    max-width: 500px;
    margin: 0 auto;
}

.panel.active {
    display: block;
}

.btn.active {
    display: inline-block;
}

.btn.selected {
	background-color: #ff0000;
}
